
<div class="container">
    <img src="~/image/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/Image/Envelope-icon24.png" />
            </span>
            <h5><email endereco="rafael.clare@yahoo.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/image/phone-app-icon.png" />
            </span>
            <h5>(22) 9874-5566</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av. Juscelino Kubichek 150 Cabo Frio </h5>
        </p>
    </div>
</div>
