<div class="container my-5">
    <div class="text-center mb-4">
        <img src="~/image/faleconosco1.jpg" alt="Fale conosco" class="img-fluid rounded shadow" />
    </div>

    <div class="card shadow p-4">
        <h3 class="text-center mb-3">Queremos ouvir o que você tem a dizer</h3>
        <p class="text-center mb-4">Se você tiver alguma dúvida ou sugestão, fale conosco:</p>

        <div class="row text-center">
            <div class="col-md-4 mb-3">
                <img src="~/Image/Envelope-icon24.png" alt="Email" class="mb-2" style="width:32px;">
                <p class="mb-1">E-mail:</p>
                <a href="mailto:rafael.clare@yahoo.com" class="btn btn-outline-primary btn-sm">rafael.clare@yahoo.com</a>
            </div>

            <div class="col-md-4 mb-3">
                <img src="~/image/phone-app-icon.png" alt="Telefone" class="mb-2" style="width:32px;">
                <p class="mb-1">Telefone:</p>
                <h5>(22) 9874-5566</h5>
            </div>

            <div class="col-md-4 mb-3">
                <img src="~/images/Home-iconred.png" alt="Endereço" class="mb-2" style="width:32px;">
                <p class="mb-1">Endereço:</p>
                <h5>Av. Juscelino Kubichek, 150<br>Cabo Frio</h5>
            </div>
        </div>
    </div>
</div>